/* .NetworkMonitor {
    background-color: aquamarine;
    margin: 2px solid;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
} */


/* .networkTooltip {
    background-color: aqua;
}
 */
